.services-title > .one-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px;
}
.one-service > a {
    font-size: 18px;
    text-decoration: none;
    color: var(--dark-text);
    font-weight: bold;
    transition: all 0.3s;
}
.one-service > i {
    font-size: 35px;
    color: var(--dark-text);
    transition: all 0.3s;
}

.one-service > a:hover {
    color: var(--active);
}
.one-service > i:hover {
    color: var(--active);
}
