/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/services.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header start */
.header {
    position: sticky;
    top: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: var(--primary-color);
}
.header .col-12 {
    display: flex;
    justify-content: space-between;
}
.navig {
    text-transform: uppercase;
}
.navig > a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
.navig > a:first-child {
    color: var(--active);
}
.navig > a:hover {
    color: var(--active);
}
.navig > a > .fa {
    margin-top: 3px;
}

.header nav {
    display: none;
}
header .hamburger {
    font-size: 30px;
}

@media (min-width: 992px) {
    .header nav {
        display: block;
    }
    header .hamburger {
        display: none;
    }
}

/* header end */

/* this is me start */
/* this is me end */

/* about me start */

.about > .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.about > .row > img {
    max-width: 100vh;
    height: auto;
}
.about .about-me {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 30px;
}
.about .personal {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 30px;
}
.about-text {
    margin-bottom: 30px;
}
@media (max-width: 992px) {
    .about .personal {
        font-size: 20px;
    }
    .about > .row {
        justify-content: center;
    }
    .about > .row > img {
        display: flex;
        align-self: flex-end;
    }
}

/* about me end */

/* services start */
/* services end */

/* stats start */
/* stats end */

/* our latest featured projects start */
.projects {
    padding-bottom: 70px;
}
.our-projects {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.projects-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.projects-nav > a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 40px;
    text-decoration: none;
    color: var(--dark-text);
}
.projects-nav > a.active {
    color: var(--active);
}
.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 35px;
}
.one-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.img-name {
    font-size: 18px;
    font-weight: 600;
}
.one-portfolio > img {
    width: 100%;
}

/* our latest featured projects end */

/* clients feedback start */
.feedback {
    background-color: var(--background-grey);
    position: relative;
}
/* .section-description {
    margin-bottom: 100px; */

/* .section-description {
    margin-bottom: 100px; */

.client {
    margin-top: 80px;
}
.first-column {
    display: inline-grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 0;
    height: 220px;
    background-color: var(--primary-color);
}
.second-column {
    display: inline-grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 0;
    height: 200px;
    background-color: var(--primary-color);
}
.comments {
    margin-top: 20px;
    margin-right: 28px;
}
.name {
    margin-top: 10px;
    font-size: 17px;
}
.name:hover {
    color: var(--active);
    cursor: pointer;
}
.profesion {
    margin-top: 7px;
}
.harriet,
.carolyn {
    width: 28px;
    margin-top: 20px;
    margin-left: 20px;
}
.button-up-down {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    position: absolute;
    transform: translateX(1320px);
    top: 360px;
}
.button-up,
.button-down {
    padding: 16px 20px;
    color: var(--main-text);
    font-style: normal;
    background-color: white;
    text-decoration: none;
    box-shadow: 0 0 40px var(--background-grey);
}
.button-up:hover {
    background-color: var(--active);
    color: var(--primary-color);
}
.button-down:hover {
    background-color: var(--active);
    color: var(--primary-color);
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

/* clients feedback end */

/* choose your plan start */
.section-descriptionn {
    margin-bottom: 50px;
}
.plans-title {
    display: flex;
    flex: 1;
}
.diffirent-plans {
    background-color: #f9f9ff;
    text-align: center;
}

.top-part > .plan-number {
    width: 70px;
    height: 70px;
    padding: 5px;
    font-size: 40px;
    font-weight: 300;
    box-shadow: 0 0 0 30px rgb(226, 227, 241);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.top-part > .plan-purpose {
    margin-bottom: 20px;
}
.package-list > .plan-list > li {
    list-style: none;
    padding: 10px;
    border-top: 1px solid #eee;
}
.package-list > .plan-list > li:last-child {
    border-bottom: 1px solid #eee;
}

.bottom-part > .button-buy-now > .price {
    margin-top: 30px;
    font-size: 36px;
}

/* choose your plan end */

/* latest posts start */
/* latest posts end */

/* images logos start */

.start {
    background-color: var(--active);
}
.start > .row > .col-12 {
    display: flex;
    justify-content: space-between;
    color: #fff9;
}

.start > .row > .col-12 > img:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media (min-width: 576px) {
    .start > .row > .col-12 {
        overflow: hidden;
        column-gap: 60px;
    }
}

@media (min-width: 768px) {
    .start > .row > .col-12 {
        overflow: hidden;
        column-gap: 60px;
    }
}

@media (max-width: 992px) {
    .start > .row > .col-12 {
        overflow: hidden;
        column-gap: 60px;
    }
}

/* images logos end */

/* footer start */

.footer {
    background-color: var(--background-footer);
    padding: 120px 0;
}
.footer > .row > .col-md-5,
.col-md-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.col-md-5 > h1 {
    color: white;
    font-size: 18px;
}
.col-md-5 > p > .fa {
    margin-top: 3px;
    font-size: 14px;
}
.col-md-5 > p > a {
    font-size: 14px;
    text-decoration: none;
    color: var(--active);
}
.col-md-5 > .input-group {
    display: flex;
    align-items: stretch;
}
.form-control {
    border: none;
    width: 80%;
    font-weight: 300;
    background: #f9f9ff;
    padding: 13px;
    border-radius: 0;
    font-size: 14px;
    line-height: normal;
    color: #222;
}
.col-md-5 > .input-group {
    border: none;
}

.col-md-5 > .input-group > .fa {
    font-size: 13px;
    line-height: inherit;
    text-decoration: none;
    background-color: var(--active);
    padding: 13px 20px;
    color: white;
}
.col-md-2 > h1 {
    color: white;
    font-size: 18px;
}
.col-md-2 > p {
    color: #777777;
    font-size: 14px;
}
.col-md-2 > .socials > a {
    text-decoration: none;
    padding: 7px;
    color: white;
}
.col-md-2 > .socials > a:hover {
    color: var(--active);
}

.col-md-5 > p {
    color: #777777;
    font-size: 14px;
}

@media (max-width: 992px) {
    .col-md-5 {
        width: 100%;
    }
    .col-md-5 > h1 {
        margin-top: 20px;
    }

    .col-md-2 {
        width: 100%;
    }
    .col-md-2 > h1 {
        margin-top: 20px;
    }
}

/* footer end */
